<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link crossorigin="anonymous" href="https://assets-cdn.github.com/assets/frameworks-77c3b874f32e71b14cded5a120f42f5c7288fa52e0a37f2d5919fbd8bcfca63c.css" integrity="sha256-d8O4dPMucbFM3tWhIPQvXHKI+lLgo38tWRn72Lz8pjw=" media="all" rel="stylesheet" />
  <link crossorigin="anonymous" href="https://assets-cdn.github.com/assets/github-6aa6c145362b4891aac2acb0174c926899e203fc333faddf158a9dd981aac9bf.css" integrity="sha256-aqbBRTYrSJGqwqywF0ySaJniA/wzP63fFYqd2YGqyb8=" media="all" rel="stylesheet" />
  <title>Sign in to GitHub · GitHub</title>
</head>
<body class="logged-out env-production session-authentication page-responsive min-width-0">
	<div class="position-relative js-header-wrapper ">
	  <a href="#start-of-content" tabindex="1" class="px-2 py-4 show-on-focus js-skip-to-content">Skip to content</a>
	  <div id="js-pjax-loader-bar" class="pjax-loader-bar"><div class="progress"></div></div>
	   <div class="header header-logged-out width-full pt-5 pb-4" role="banner">
	    <div class="container clearfix width-full">
	      <a class="header-logo" href="https://github.com/" aria-label="Homepage" data-ga-click="(Logged out) Header, go to homepage, icon:logo-wordmark">
	        <svg aria-hidden="true" class="octicon octicon-mark-github" height="48" version="1.1" viewBox="0 0 16 16" width="48"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"/></svg>
	      </a>
	    </div>
	  </div>
	</div>
	<div role="main">
	  <div id="js-pjax-container" data-pjax-container>
	    <div class="auth-form px-3" id="login">
	      <form accept-charset="UTF-8" action="/session" method="post">
	        <div class="auth-form-header p-0">
	          <h1>Sign in to GitHub</h1>
	        </div>
	        <div class="auth-form-body mt-3">
	          <label for="login_field"> Username or email address</label>
	          <input autocapitalize="off" autocorrect="off" autofocus="autofocus" class="form-control input-block" id="login_field" name="login" tabindex="1" type="text" />
	
	          <label for="password">Password <a href="/password_reset" class="label-link">Forgot password?</a></label>
	          <input class="form-control form-control input-block" id="password" name="password" tabindex="2" type="password" />
	
	          <input class="btn btn-primary btn-block" data-disable-with="Signing in…" name="commit" tabindex="3" type="submit" value="Sign in" />
	        </div>
		  </form>
	
	      <p class="create-account-callout mt-3">
	       New to GitHub?<a href="/join?source=login" data-ga-click="Sign in, switch to sign up">Create an account</a>.
	      </p>
	    </div>
	  </div>
	</div>
</body>
</html>

