<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<script type="text/javascript" src="../js/common/common.js"></script>
<script type="text/javascript" src="../js/common/jquery.js"></script>
<body>

	<div id="div_registry_form" style="text-align: center">
	  <h2>注册页面</h2>
	  <br>
	  <div id = "div_user"> 用户名 : <input type = "text" id = "username"/></div>
      <br>
	  <div id = "div_pwd"> 密 &nbsp;&nbsp;码 : <input type = "password" id = "password" /></div>
	  <br>
	  <div id = "div_nick"> 昵&nbsp; &nbsp;称 : <input type = "text" id = "nickname"/></div>
 	  <br>
	  <div id = "div_type"> 类&nbsp; &nbsp;型 : &nbsp;&nbsp; <input type="radio" id="type1" name="type" checked="checked" value="普通用户" />普通用户
			 <input type="radio" id="type2" name="type" value="管理员" disabled="disabled"/>管理员
	  </div>
	  <br>
	  <div id = "div_submit">
	    <input type="submit" id="registry" value="点击注册" />
		&emsp;&emsp;&emsp;&emsp;&emsp;<input type="button" id="return" value="返回上级" onclick= "back()" />
	  </div>
	</div>

	<script type="text/javascript">
	    $("#registry").click(function() {
		    var username = $("#username").val();
		    var password = $("#password").val();
		    var nickname = $("#nickname").val();
		    var type = $("input[name='type']:checked").val();

		    if (username == "" || username == null) {
		        alert("用户名不能为空");
		        return false;
		    } else if (password == "" || password == null) {
		        alert("密码不能为空");
		        return false;
		    } 
		    
		    $.ajax({
		        type: "post",
		        url: "/springboot/registry",
		        data: {
		            username: username,
		            password: password,
		            nickname: nickname,
		            type: type
		        },
		        dataType: "text",
		        error: function(result){
		        	alert("注册失败");
		        },
		        success: function(result) {
		        	console.log(result);
		        	if (result.responseText == '注册成功') {
		        		alert("注册成功");
	           			window.location.href = "/springboot";		        		
		        	}
		        }
		   });
 		})
	</script>
</body>
</html>